extends layout.pug

block styles
  link(rel="stylesheet" type="text/css" href=manifest['index.css'])

block scripts
  script(src=manifest['runtime~index.js'])
  script(src=manifest['index.js'])

block content
  h1 express pug test
  img(src=manifest['test.jpg'])
